window {
	background-color: rgba(0,0,0,0.6)
}

#input{
	background-color: rgba(0,0,0,0.6);
	color: #00ffff;
}

#inner-box{
	background-color: rgba(0,0,0,0.6);
}

#text{
	color: #00ffff;
}

#entry:selected{
	background: #00ffff;
	color: #000000;

}

#entry:selected #text{
	color: #000000;
}